body>div{
    width:90%;
    box-sizing: border-box;
    min-height: 80vh;
    background-color: rgb(255, 255, 255);
    margin: 5px auto;
}
.item1,.item2{
    width:800px;
    height: 100px;
    margin:20px auto;
}
#div4>div,.item3{
    width:500px;
    height: 500px;
    margin:20px auto;
    border-radius: 50%;
}



#div1 .item1{
    background-image:linear-gradient(90deg,red 5%, 50px, green 100%);
}
#div1 .item2{
    background-image:linear-gradient(90deg,blue 50px,51px,black 100px,0px,white);
}
/* way 1 using */
#div2 .item1{
    background: linear-gradient(to left,
    lime 25%,0%, red 50%,0%, cyan 75%, 0%, yellow );
}
#div2 .item2{
    background: linear-gradient(to left,
    lime 25%, red 25%, red 50%, cyan 50%, cyan 75%, yellow 75% );
}
#div2 .item3{
    background: linear-gradient(to left,
    lime 25%, red 25% 50%, cyan 50% 75%, yellow 75% );
}
#div3 .item1{
    background: linear-gradient(to left,
       lime 20%, red 30%, red 45%, cyan 55%, cyan 70%, yellow 80% );
   background: linear-gradient(to left,
       lime 20%, red 30% 45%, cyan 55% 70%, yellow 80% );
}
#div3 .item3{
    background: linear-gradient(0deg,rgba(255, 0, 0, 0.8),rgba(0,0,0,0)),
                linear-gradient(120deg,rgba(0, 255, 0, 0.8) 30%,rgba(0,0,0,0)),
                linear-gradient(240deg,rgba(0, 0, 255, 0.8) 30%,rgba(0,0,0,0));
}
#div4 .item1{
    background:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}